.react-tabs {
    -webkit-tap-highlight-color: transparent;
  }
  
  .react-tabs__tab-list {
    /* border-bottom: 1px solid #aaa; */
    margin: 0 0 10px;
    padding: 0;
  }
  
  .react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    /* border-bottom: none; */
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    font-family: 'Arvo';
    transition: background, 0.2s;
  }
  
  .react-tabs__tab--selected {
    background: #fff;
    /* border-color: #aaa; */
    color: #00071A;
    border-radius: 5px;
    animation-name: fadeInColor;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2000ms;
    @keyframes fadeInColor {
          0% {
        background: transparent;
      }
      100% {
        background: #fff;
          }
      }
  }
  
  .react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
    animation-name: fadeOutColor;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2000ms;
    @keyframes fadeOutColor {
          0% {
            background: #fff;
      }
      100% {
        background: transparent;
          }
      }
  }
  
  .react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
  }
  

  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
    overflow: hidden;
    padding: 10px;


    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 400ms;
    @keyframes fadeInOpacity {
          0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
          }
      }

  }

  @media only screen and (max-width: 600px) {
    .react-tabs {
      -webkit-tap-highlight-color: transparent;
    }
    
    .react-tabs__tab-list {
      /* border-bottom: 1px solid #aaa; */
      margin: 0 0 10px;
      padding: 0;
    }
    
    .react-tabs__tab {
      display: inline-block;
      border: 1px solid transparent;
      /* border-bottom: none; */
      bottom: -1px;
      position: relative;
      list-style: none;
      padding: 6px 12px;
      cursor: pointer;
      font-family: 'Arvo';
      transition: background, 0.2s;
    }
    
    .react-tabs__tab--selected {
      background: #fff;
      /* border-color: #aaa; */
      color: #00071A;
      border-radius: 5px;
      animation-name: fadeInColor;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 2000ms;
      @keyframes fadeInColor {
            0% {
          background: transparent;
        }
        100% {
          background: #fff;
            }
        }
    }

    
    
    .react-tabs__tab--disabled {
      color: GrayText;
      cursor: default;
      animation-name: fadeOutColor;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 1000ms;
      @keyframes fadeOutColor {
            0% {
              background: #fff;
        }
        100% {
          background: transparent;
            }
        }
    }
    
    
    .react-tabs__tab:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;
    }
    
  
    .react-tabs__tab-panel {
      display: none;
    }
    
    .react-tabs__tab-panel--selected {
      display: block;
      overflow: scroll;
      padding: 10px;
      opacity: 1;
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 1000ms;
      @keyframes fadeInOpacity {
            0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
            }
        }
    }
	}

