.letter-enter {
    opacity: 0;
  }


  .letter-enter-active {
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1250ms;
    @keyframes fadeInOpacity {
        0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
        }
    }
  }


  .letter-exit {
    opacity: 1;
  }
